<!-- TODO lista con scroll, igual que aparezcan las tareas entregadas al hacer-->
<h3>Choose an student</h3>
<div
  class="flex flex-col border border-slate-200 bg-white shadow-sm mt-2 overflow-y-auto p-2 max-h-[calc(100vh-320px)] max-w-50"
>
  <div class="btn-group" (click)="onButtonGroupClick($event)">
    @for (item of this.usersList()?.users; track $index) {
      <button
        (click)="emitUser(item.user.id)"
        class="text-slate-800 w-full items-center rounded-md p-3 hover:bg-slate-100 active:bg-slate-100"
      >
        {{ item.user.fullName }}
      </button>
      @if (this.usersList()!.users.indexOf(item) < this.usersList()!.users.length - 1) {
        <div class="border border-slate-200 my-1"></div>
      }
    }
   

  </div>
</div>
