<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a routerLink="/" class="btn btn-ghost text-xl font-montserrat">
      Innova
      <span class="text-secondary">| earn</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          routerLink="category/Software development"
          class="btn btn-ghost"
          routerLinkActive="text-secondary"
        >
          Software development
        </a>
      </li>
      <li>
        <a
          routerLink="category/Web Development"
          class="btn btn-ghost"
          routerLinkActive="text-secondary"
        >
          Web development
        </a>
      </li>
      <li>
        <a
          routerLink="category/Mobile development"
          class="btn btn-ghost"
          routerLinkActive="text-secondary"
        >
          Mobile development
        </a>
      </li>
      
    </ul>
  </div>
  <div class="navbar-end gap-4">
  
  </div>
</div>
