@if (filteredUnits$ != undefined) {
  <form [formGroup]="exFormGroup" class="flex flex-col-1 gap-3 mt-5">
    <mat-form-field  appearance="outline" >
      <mat-label>Units</mat-label>
      <input
        type="text"
        
        placeholder="Pick one"
        matInput
        formControlName="unitsController"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayWith"
        showPanel="true"
        hideSingleSelectionIndicator="true"
        
      >
        @for (item of filteredUnits$ | async; track item) {
          <mat-option [value]="item" >
            {{ item.title }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w-100%" appearance="outline">
      <mat-label>Lessons</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        #text
        matInput
        formControlName="lessonController"
        [matAutocomplete]="auto2"
        
      />
      <mat-autocomplete
        #auto2 ="matAutocomplete"
        [displayWith]="displayWith"
        showPanel="true"
      >
        @for (item of filteredLessons$ | async; track $index) {
          <mat-option [value]="item">
            {{ item.title }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

     <mat-form-field class="w-100%" appearance="outline">
      <mat-label>Tasks</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        #text
        matInput
        formControlName="taskController"
        [matAutocomplete]="auto3"
        
      />
      <mat-autocomplete
        #auto3 ="matAutocomplete"
        [displayWith]="displayWith"
        showPanel="true"
        (optionSelected)="emitTask($event.option.value.id)"
      >
        @for (item of filteredTasks$ | async; track $index) {
          <mat-option [value]="item">
            {{ item.title }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w-100%" appearance="outline">
      <mat-label>Student</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        #text
        matInput
        formControlName="studentsController"
        [matAutocomplete]="auto9"
        hideSingleSelectionIndicator="true"
        
      />
      <mat-autocomplete
        #auto9 ="matAutocomplete"
        [displayWith]="displayName"
        showPanel="true"
        (optionSelected)="emitStudent($event.option.value.user.id)"
      >
        @for (item of filteredStudents$ | async; track $index) {
          <mat-option [value]="item">
            {{ item.user.fullName }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

  </form>
}
