<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>Status of submission</th>
        <td>Status no available</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>Status of grade</th>
        <td>No available grade</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>Limit date</th>
        <td>31/12/9999</td>
      </tr>
      <tr>
        <th>Feedback of the submission</th>
        <td>x</td>
      </tr>
        <tr>
        <th>Files sent</th>
        <td>x</td>
      </tr>
    </tbody>
  </table>
</div>
