<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
   
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>Status of submission</th>
        <td>{{this.statusSubmission()}}</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>Status of grade</th>
        <td>{{this.grade()?.total}}</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>Limit date</th>
        <td>{{this.submit()!.date_send}}</td>
      </tr>
      <tr>
       <th>Files sent</th>
        <td>x</td>
      </tr>
        <tr>
           <th>Feedback of the submission</th>
        <td>{{this.grade()?.feedback}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
