<div class="p-10">
  <div clasS="flex justify-end">
    <button class="btn btn-soft btn-primary" type="submit" (click)="usersInscriptionDelete($event)" > Delete users </button>
  </div>
  <section class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 my-5">
  
    <table class="table table-md w-full text-center">
    <thead>
      <tr class="bg-base-200">
        <th><input type="checkbox" (change)="toggleAll($event)"></th>
        <th>Email of student</th>
        <th>Full name</th>
        <th>Project</th>
      
      </tr>
    </thead>
    <tbody>
      @for (user of users().users; track user.id; let index = $index) {
        <tr>
          <td><input type="checkbox" name="cb" value="{{user.id}}"></td>
          <td>{{ user.user.email }}</td>
          <td>{{ user.user.fullName }}</td>
          <td>{{ user.project.title }}</td>
          
         
        </tr>
      }
    </tbody>
  </table>


  
 
</section>

  

@if (wasSaved()) {
  <div class="alert alert-success fixed bottom-4 right-4 w-80 animate-fadeIn">
    <span>User removed succesfully</span>
  </div>
}
@if (hasError()) {
  <div class="alert alert-error fixed bottom-4 right-4 w-80 animate-fadeIn">
    <span>{{this.message()}}</span>
  </div>
}

</div>