<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @keyframes float {
            0% { transform: translateY(0); }
            50% { transform: translateY(-10px); }
            100% { transform: translateY(0); }
        }
    </style>
</head>
<body class="flex items-center justify-center min-h-screen bg-gradient-to-br from-blue-50 to-gray-100">
    <div class="text-center animate-fadeIn">
        <h2 class="font-bold text-9xl mx-auto w-80 animate-[float_3s_infinite] text-indigo-900" > 404</h2>
        <h1 class="text-7xl font-extrabold text-blue-700 mt-6 ">Looks Like You're Lost!</h1>
        <p class="text-xl text-gray-700 mt-2">We can't seem to find the page you're looking for.</p>
        <a href="/" class="mt-6 inline-block bg-blue-600 text-white px-8 py-3 rounded-full text-lg font-semibold shadow-lg transform transition hover:scale-105 hover:bg-blue-700">Return home</a>
    </div>
</body>
</html>