
<!-- MI BARRA DE BÚSQUEDA -->
<section class="flex flex-col gap-4">
    <input type="string"
    placeholder="Search courses"
    class="mt-3 border border-gray-300 rounded-md p-2"
    (keydown.enter)="search.set($event.target.value); onSearch()"
    #txtSearch
    />
</section>

<!-- AÑADIR TAGS CON INPUT -->
<mat-form-field class="example-chip-list">
  <mat-label>Add new student</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter fruits">
    <!-- TAG -->
    @for (fruit of namesAsArr; track fruit) {
      <mat-chip-row
        (removed)="remove(fruit)"
       
      >
        {{fruit}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  <!-- LA BÚSQUEDA -->
  <input
    [matChipInputFor]="chipGrid"
   
    [matAutocomplete]="auto"
    (matChipInputTokenEnd)="add($event)"
    (keydown.enter)="search.set($event.target.value); onSearch()"
  />

  
   <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
  @for (option of searchResult(); track option) {
    <mat-option [value]="option">
      {{ option.email }}
    </mat-option>
}
</mat-autocomplete>

  
</mat-form-field>


 
