<!-- Swiper -->
<swiper-container
  [slidesPerView]="3"
  [grid]="{ rows: 2, fill: 'row' }"
  [navigation]="true"
  [spaceBetween]="20"
  [pagination]="{ clickable: true }"
  class="max-h-90"
>

    @for (item of projects()?.projects; track $index) {
      <swiper-slide>
        <app-project-card [project]="item.project" [in]="this.in()"  class="hover:cursor-pointer" />
      </swiper-slide>
    }

</swiper-container>
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-element-bundle.min.js"></script>
