<div class="navbar w-full bg-base-300 shadow-sm">
  <div class="navbar-start">
    <a [routerLink]="['/', home()]" class="btn btn-ghost text-xl">
      Innova
      <span class="text-primary">learn</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex"></div>
  <div class="navbar-end gap-4 mr-4">


    <button class="btn btn-ghost" onclick="be_teacher_modal.showModal()">Be a teacher!</button>

     <button
            class="btn btn-ghost btn-circle"
            data-tip="Chat"
            (click)="uiService.chatToggle()"
          >
            <!-- Chat icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              stroke="currentColor"
              class="my-1.5 inline-block size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
              />
            </svg>

          </button>

    @if (uiService.chat()) {
        <div class="fixed bottom-0 right-0 z-30 w-70 h-20% shadow-lg">
          <app-chat-component />
        </div>
      }

    <button
      class="btn btn-ghost btn-circle"
      popovertarget="popover-1"
      style="anchor-name: --anchor-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.9"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
        />
      </svg>
    </button>

    <ul
      class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm"
      popover
      id="popover-1"
      style="position-anchor: --anchor-2"
    >
      <li><a routerLink="/auth" (click)="logout()">Log out</a></li>
    </ul>
  </div>
</div>

<dialog id="be_teacher_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Be a teacher!</h3>
    <p class="py-4">By being a teacher, you will stop being able to enroll in other courses.</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn" (click)="beTeacher()">Start teaching now!</button>
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
