<div class="flex flex-col h-screen w-screen">


    <app-navbar class="sticky top-0 z-20"/>

  <div class="flex flex-1">
<div class="bg-base-300 fixed top-16 left-0 h-[calc(100%-4rem)]  z-50 duration-300 ease-in-out overflow-hidden" 
(mouseenter)="uiService.notCollapsed()"
(mouseleave)="uiService.isCollapsed()"

[class.w-64]="!uiService.collapsed()"
[class.w-14]="uiService.collapsed()"
>
    
 <ul class="menu w-full h-max mt-20 overflow-hidden">
       
        <li>
          <button
            class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
            data-tip="Homepage"
            [routerLink]="['/',this.home()]"
          >
            <!-- Home icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"ñ
              viewBox="0 0 24 24"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              stroke="currentColor"
              class="my-1.5 inline-block size-4"
            >
              <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
              <path
                d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
              ></path>
            </svg>
            <span [class.opacity-0]="uiService.collapsed()">Homepage</span>
          </button>
        </li>
       
       
        @if(authService._role()=="admin"){
        <!-- List item -->
        <li>
          <button
            class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
            data-tip="List of projects"
            routerLink="/admin/projects"
          >
           
          
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              stroke="currentColor"
              class="my-1.5 inline-block size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
              />
            </svg>

            <span  [class.opacity-0]="uiService.collapsed()">Projects</span>
          </button>
        </li>

       

        
      }

      </ul>
      
</div>
    <div class="flex-1 ml-16 ">
  <router-outlet />
</div>
        
</div>

</div>