<div>
  <img
    src="https://images.ctfassets.net/ihx0a8chifpc/pkPsn4xvlsW7rV74rsMhW/9b749af2555183d91e84b9879422c180/placehold-1280x720.jpg?w=1920&q=60&fm=webp"
    alt=""
    class="w-full size-30"
  />
  <h2 class="">{{ projectResource.value()?.title }}</h2>
  <div [innerHTML]="projectResource.value()?.description"></div>
  <!-- que se vea encima de la imagen   -->
  <!-- Rating a la derecha junto a user author-->

  <section class="flex gap-3">
    <div class="flex-1">
      @for (unit of projectResource.value()?.units; track $index) {
        <div class="card card-border bg-base-80 w-1/2">
          <div class="card-body">
            <h2 class="card-title">1.- {{ unit.title }}</h2>
            <div class="card-actions justify-end">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </div>
            @for (item of unit.lessons; track $index) {
              <p>{{ item.title }}</p>
            }
          </div>
        </div>
      }
    </div>

    <div class="flex-1">
      <div class="rating justify-center">
      <div class="mask mask-star" aria-label="1 star"></div>
      <div class="mask mask-star" aria-label="2 star"></div>
      <div class="mask mask-star" aria-label="3 star" aria-current="true"></div>
      <div class="mask mask-star" aria-label="4 star"></div>
      <div class="mask mask-star" aria-label="5 star"></div>
    </div>

    <h2> Author: {{projectResource.value()?.author?.fullName}}</h2>
    </div>
    </section>
</div>
