/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
 
}
@import "quill/dist/quill.snow.css";

@layer base {
  h1 {
    @apply text-5xl ;
  }
  h2 {
    @apply text-2xl ;
  }

  h3 {
    @apply text-xl;
  }
}

@theme {
   --font-poppins: Poppins, sans-serif;
  
}

* {
    font-family: var(--font-poppins);
}

.mat-mdc-autocomplete-panel{
  max-height: 144px!important;
 
}

.mat-mdc-form-field {
 z-index: 0!important;
}

/* h1, h2, h3, p, a {
  
} */

.active {
  background:  var(--color-sky-200) ;
}