<div class="w-full min-h-[calc(100vh-4rem)] bg-sky-50">
  <div class="h-20 bg-sky-700 sticky top-0 z-7 shadow-sm">
    <ul class="h-full flex flex-col-3 items-center justify-center gap-6 align-middle text-white">
      <li [routerLink]="['/course/', this.idProject]">Course</li>
      <li routerLink="calendar">Calendar</li>
      <li>Students</li>
      <li routerLink="grades">Grades</li>
    </ul>
 </div>
    <div class="flex flex-col flex-1">
      <div class="breadcrumbs text-sm p-7">
        <ul>
          <li><a> Home </a></li>
          <li><a>Documents</a></li>
          <li>Add Document</li>
        </ul>
      </div>

      <div class="flex justify-end pr-15 mb-5">
        <button class="btn btn-primary" onclick="complete.showModal()">
          Mark course as complete
        </button>
      </div>

      <div class="px-7">
        <router-outlet />
      </div>
    </div>

    <!-- Open the modal using ID.showModal() method -->

    <dialog id="complete" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">You will no longer be able to access the course.</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn" (click)="courseCompleted()">Mark as completed</button>
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>


      <dialog id="surveyModal" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold mb-3">How much did you like the course?</h3>

        @for (question of this.survey()?.questions; track $index) {
            <div class=" flex flex-col-2 justify-between gap-3 my-2 border border-slate-100 border-round p-3">
              <p>{{question.title}}</p>
            <app-rating-component class="self-center" [rating]="$index" />
            </div>
        }

        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn" (click)="courseCompleted()">Send answers</button>
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>
    

    <!-- </div> -->
 
</div>
