<div class="h-20 bg-sky-700  sticky top-0 z-7 shadow-sm ">
  <ul class=" h-full flex flex-col-3 items-center justify-center gap-6 align-middle text-white ">
    <li [routerLink]="['/course/',this.idProject]">Course</li>
    <li routerLink="calendar">Calendar</li>
    <!-- <li>Students</li> -->
    <li routerLink="grades">Grades</li>
  </ul>
</div>

<div class="bg-sky-50 ">
  <div class="breadcrumbs text-sm p-7  ">
    <ul>
      <li><a> Home </a></li>
      <li><a>Documents</a></li>
      <li>Add Document</li>
    </ul>
  </div>

  <div class="min-h-160 p-7 ">
     <router-outlet /> 
  </div>
</div>
