<div class="w-full h-screen">
    <!-- IMAGEN IZQUIERDA-->
    <div class="flex bg-white rounded-lg shadow-lg h-full w-full overflow-hidden ">
        <div class="hidden lg:block lg:w-1/2 bg-cover"
            style="background-image:url('https://static.vecteezy.com/system/resources/previews/001/960/661/large_2x/person-typing-on-a-computer-free-photo.JPG')">
    </div>
            <!-- FORM LOGIN -->

        <div class="flex items-center justify-center lg:w-1/2">
            <div class="w-full p-8  ">
            <h2 class="text-2xl font-semibold text-gray-700 text-center">Sign in to your account</h2>
           
           <router-outlet/>
        </div>
        </div>
            
    </div>
</div>